In [103]:
#%pip install mimesis
%pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.20-cp37-cp37m-manylinux2010_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 638 kB/s eta 0:00:01     |█████████                       | 358 kB 638 kB/s eta 0:00:02
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.20
Note: you may need to restart the kernel to use updated packages.

In [9]:
from mimesis import Person

pt = Person('pt-br')

In [11]:
pt.blood_type()

'B−'

In [12]:
pt.height()

'1.74'

In [42]:
pt.age()

29

In [40]:
sex = pt.sex()
if sex == "Masculino":
    sex = "M"
else:
    sex = "F"
sex

'F'

In [41]:
from mimesis.enums import Gender

if sex == "M":
    gender = Gender.MALE
else:
    gender = Gender.FEMALE

pt.full_name(gender=gender)

'Loela Perreira'

In [57]:
import random
import csv

lista = []

with open('../data/csv_CID-10-CATEGORIAS.CSV', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=';')
    try:
        for row in spamreader:
            lista.append(row[0])
    except ValueError:
        print('Error!')

In [58]:
random.choice(lista)

'V44'

In [105]:
import pandas as pd

columns = ['nome','sexo', 'idade','peso','altura','tipo sanguineo','diagnostico']

df = pd.DataFrame(columns=columns)

In [106]:
df

Empty DataFrame
Columns: [nome, sexo, idade, peso, altura, tipo sanguineo, diagnostico]
Index: []

In [109]:
for i in range(10000):
    sexo = pt.sex()
    
    if sexo == "Masculino":
        sexo = "M"
    else:
        sexo = "F"
        
    if sexo == "M":
        gender = Gender.MALE
    else:
        gender = Gender.FEMALE
    nome = pt.full_name(gender=gender)
    
    tipo_sanguineo = pt.blood_type()
    altura = pt.height()
    peso = pt.weight()
    idade = pt.age()
    diag = random.choice(lista)
    
    df.loc[i] = [nome,sexo,idade,peso,altura,tipo_sanguineo,diag]

In [110]:
df.head()

               nome sexo idade peso altura tipo sanguineo diagnostico
0     Neotera Cosme    F    16   57   1.78            AB+         R21
1  Salvina Carrasco    F    61   59   1.72             A−         E73
2      Zilma Araújo    F    23   44   1.96             O−         F52
3  Guilherme Camara    M    38   76   1.97             B−         E30
4   Jéni Hansdatter    F    20   78   1.93             B−         Y22

In [104]:
from sqlalchemy import create_engine

In [111]:
engine = create_engine('postgresql+psycopg2://superset:superset@postgres:5432/superset')

In [112]:
df.to_sql('paciente', engine)