In [34]:
from mimesis import Person

pt = Person('pt-br')

In [35]:
pt.blood_type()

'O−'

In [36]:
pt.height()

'1.51'

In [37]:
pt.age()

64

In [38]:
sex = pt.sex()
if sex == "Masculino":
    sex = "M"
else:
    sex = "F"
sex

'F'

In [39]:
from mimesis.enums import Gender

if sex == "M":
    gender = Gender.MALE
else:
    gender = Gender.FEMALE

pt.full_name(gender=gender)

'Leonídia Resolen'

In [40]:
import random
import csv

lista = []

with open('../data/csv_CID-10-CATEGORIAS.CSV', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=';')
    try:
        for row in spamreader:
            lista.append(row[0])
    except ValueError:
        print('Error!')

In [41]:
random.choice(lista)

'Q32'

In [42]:
import random
import csv

lista_bairro = []

with open('../data/bairro.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=';')
    try:
        for row in spamreader:
            lista_bairro.append(row[0])
    except ValueError:
        print('Error!')

In [49]:
lista_bairro[1]

'Aflitos'

In [54]:
import pandas as pd

columns = ['nome','sexo', 'idade','peso','altura','tipo sanguineo','diagnostico','data_doenca','bairro']

df = pd.DataFrame(columns=columns)

In [55]:
df

Empty DataFrame
Columns: [nome, sexo, idade, peso, altura, tipo sanguineo, diagnostico, data_doenca, bairro]
Index: []

In [56]:
import datetime

today = datetime.date.today()
start_date = datetime.date(2016, 1, 1)

for i in range(10):
    sexo = pt.sex()
    
    if sexo == "Masculino":
        sexo = "M"
    else:
        sexo = "F"
        
    if sexo == "M":
        gender = Gender.MALE
    else:
        gender = Gender.FEMALE
    nome = pt.full_name(gender=gender)
    
    tipo_sanguineo = pt.blood_type()
    altura = pt.height()
    peso = pt.weight()
    idade = pt.age()
    diag = random.choice(lista)
    #cif = random.choice(lista_cif)
    bairro = random.choice(lista_bairro)

    time_between_dates = today - start_date

    days_between_dates = time_between_dates.days
    
    random_number_of_days = random.randrange(days_between_dates)

    data_doenca = start_date + datetime.timedelta(days=random_number_of_days)
    
    df.loc[i] = [nome,sexo,idade,peso,altura,tipo_sanguineo,diag,data_doenca,bairro]

In [57]:
df.head()

,nome,sexo,idade,peso,altura,tipo sanguineo,diagnostico,data_doenca,bairro
0,Arcádio Tres,M,33,63,1.80,A−,D16,2020-06-13,Bomba Do Hemeterio
1,Lorine Lay,F,27,54,1.65,A+,T40,2016-11-24,Pina
2,Laurina Nunes,F,37,53,1.56,B+,D51,2018-10-23,Bongi
3,Oriana Dan,F,44,65,1.61,B+,Z56,2019-01-18,Corrego Do Jenipapo
4,Diomar Calil,F,30,76,1.82,B+,V83,2017-08-21,Jiquia

In [13]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine('postgresql+psycopg2://superset:superset@postgres:5432/superset')

In [15]:
df.to_sql('paciente', engine)