In [2]:
from mimesis import Person

pt = Person('pt-br')

In [3]:
pt.blood_type()

'A−'

In [4]:
pt.height()

'1.67'

In [5]:
pt.age()

22

In [6]:
sex = pt.sex()
if sex == "Masculino":
    sex = "M"
else:
    sex = "F"
sex

'F'

In [7]:
from mimesis.enums import Gender

if sex == "M":
    gender = Gender.MALE
else:
    gender = Gender.FEMALE

pt.full_name(gender=gender)

'Maribel Jambo'

In [8]:
import random
import csv

lista = []

with open('../data/csv_CID-10-CATEGORIAS.CSV', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=';')
    try:
        for row in spamreader:
            lista.append(row[0])
    except ValueError:
        print('Error!')

In [9]:
random.choice(lista)

'Z42'

In [10]:
import random
import csv

lista_bairro = []

with open('../data/bairro_lat_long.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=';')
    try:
        for row in spamreader:
            lista_bairro.append(row)
    except ValueError:
        print('Error!')

In [11]:
lista_bairro[1]

['Aflitos', '-8.0406', '-34.8968']

In [13]:
lista_cif = []

with open('../data/cif.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=';')
    try:
        for row in spamreader:
            lista_cif.append(row)
    except ValueError:
        print('Error!')

In [14]:
lista_cif[1]

['b410', 'Funções cardíacas', '']

In [15]:
import pandas as pd

columns = ['nome','sexo', 'idade','peso','altura','tipo sanguineo','diagnostico','data_doenca','bairro','bairro_lat','bairro_lon','cif_codigo','cif_qualificador','cif_descricao']

df = pd.DataFrame(columns=columns)

In [16]:
df

Empty DataFrame
Columns: [nome, sexo, idade, peso, altura, tipo sanguineo, diagnostico, data_doenca, bairro, bairro_lat, bairro_lon, cif_codigo, cif_qualificador, cif_descricao]
Index: []

In [18]:
import datetime

today = datetime.date.today()
start_date = datetime.date(2016, 1, 1)

for i in range(100):
    sexo = pt.sex()
    
    if sexo == "Masculino":
        sexo = "M"
    else:
        sexo = "F"
        
    if sexo == "M":
        gender = Gender.MALE
    else:
        gender = Gender.FEMALE
    nome = pt.full_name(gender=gender)
    
    tipo_sanguineo = pt.blood_type()
    altura = pt.height()
    peso = pt.weight()
    idade = pt.age()
    diag = random.choice(lista)
    codigo_cif, descricao_cif, nothing = random.choice(lista_cif)
    qualificador_cif = random.randint(1,4)
    bairro = random.choice(lista_bairro)

    time_between_dates = today - start_date

    days_between_dates = time_between_dates.days
    
    random_number_of_days = random.randrange(days_between_dates)

    data_doenca = start_date + datetime.timedelta(days=random_number_of_days)
    
    df.loc[i] = [nome,sexo,idade,peso,altura,tipo_sanguineo,diag,data_doenca,bairro[0],bairro[1],bairro[2],codigo_cif,qualificador_cif,descricao_cif]

In [19]:
df.head()

,nome,sexo,idade,peso,altura,tipo sanguineo,diagnostico,data_doenca,bairro,bairro_lat,bairro_lon,cif_codigo,cif_qualificador,cif_descricao
0,Renato Andersdatter,M,26,40,1.62,B+,X17,2020-04-13,Tamarineira,-8.0296,-34.9005,s710,2,Estrutura da região da cabeça e do pescoço
1,Adónis Modesto,M,33,56,1.54,AB−,S51,2016-08-21,Rosarinho,-8.0331,-34.8975,d445,3,Utilização da mão e do braço
2,Evangelina Delai,F,35,88,1.93,AB+,E70,2020-09-12,Imbiribeira,-8.1089,-34.9119,b740,1,Funções relacionadas com a resistência muscular
3,Evelina Maranguanhe,F,51,65,1.59,O−,N72,2020-10-20,Tamarineira,-8.0296,-34.9005,b735,4,Funções relacionadas com o tónus muscular
4,Adolfina Bassos,F,35,48,1.96,A+,L57,2017-04-11,Bairro,Lat,Long,b770,3,Funções relacionadas com o padrão de marcha

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql+psycopg2://superset:superset@postgres:5432/superset')

In [24]:
df.to_sql('paciente', engine, if_exists='replace')